@mixin font-montserrat-bold {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 700;
  font-size: 3vw;
  letter-spacing: 3px;
}

@mixin font-dela {
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
}

$green-main: #4c7839;

.row {
  margin: 0 !important;
}

.container-fluid {
  margin: 0 auto;
  padding: 6vw 0;
  overflow-x: hidden;
}

.bottom-line {
  background-image: url("../icons/bottom-line.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  background-position: top 28vw center;
}
.top-line{
  background-image: url("../icons/place/line3.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  background-position: top -4.2vw right -4vw;
}
.line-photo{
  background-image: url("../icons/place/line-photo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  background-position: bottom -4vw right -2.5vw;
}
.photo-rest {
  margin: 0;
  padding: 3.7vw 2vw 0;
  overflow: hidden;
  position: relative;

  .like-icon {
    justify-self: end;
  }

  img {
    width: 100%;
    height: 35vw;
    border-radius: 5vw;
    object-fit: cover; /* обрізає зображення, щоб воно заповнювало контейнер */
  }
}
.like-block{
  p{
    flex-wrap: wrap;
    color: #555353;
    margin-right:2vw;
    font-size: 1.2vw;
  }
}

.name-rest {
  padding-top: 10vw;

  h1 {
    @include font-montserrat-bold;
  }

  h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 1vw;
  }
}

.place {
  font-size: 1.7vw;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 1vw;
  max-width: 26vw;
}

.info-item img {
  height: auto;
  width: 4vw;
}

.find-more {
  margin: 4vw 0 0 0;

  .repeating-text {
    display: flex;
    width: 100%;
    font-size: 3.5vw;
    font-family: 'Dela Gothic One', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.35vw;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 1vw;

  }

  .outline-black {
    -webkit-text-stroke: 0.01vw #000000;
    color: #ffffff;
  }

  .filled-black {
    font-weight: bold;
    color: #000000;
  }
}

.like-section {
  margin-top: -5vw;
  margin-right: 2vw;
  bottom: 0;
  display: flex;
  justify-content: space-evenly; /* Розміщує елементи внизу контейнера */
  align-items: center; /* Вирівнює елементи по вертикалі в середині контейнера */
  width: 21vw;
  border-radius: 1vw;
  background-color: #4c7839;
  box-shadow: 0 5px 15px 0 #33442c;
  padding: 0.5vw;
  z-index: 1;
}

.like-title {
  font-size: 1.2vw;
  font-family: 'Montserrat', sans-serif;
  color: white;
  margin-right: 0.3vw; /* Додаємо проміжок між титулом та іконкою */
}

.like-icon svg {
  width: 3.5vw;
  height: 3.5vw;
  z-index: 200;
  cursor: pointer;
  backdrop-filter: blur(0.09vw);
}

.like-icon svg path {
  transition: fill 0.3s ease; /* Плавний перехід */
}

.like-section:hover {
  transform: scale(1.05); /* Збільшуємо блок на 10% */
}

/* Колір при наведенні */
.like-icon svg:hover path {
  fill: rgba(255, 255, 255, 1); /* Білий колір при наведенні */
}

/* Колір при натисканні */
.like-icon svg:active path {
  fill: rgba(255, 255, 255, 1); /* Білий колір при натисканні */
}

/* Колір іконки, коли вона вже була натиснута (за допомогою класу) */
.like-icon.clicked svg path {
  fill: rgba(255, 255, 255, 1); /* Білий колір після натискання */
}

.icons {
  width: 4.5vw;
}

.rects {
  justify-content: center;
  gap: 8vw;
  transform: translateY(2vw);
}

.rect {
  align-content: center;
  text-align: center;
  padding: 2vw 0;
  border: 0.2vw solid $green-main;
  border-radius: 2.5vw;
}

.rect-full {
  @extend .rect;
  background: rgba(76, 120, 57, 0.42);
}

.info-rest {
  font-family: "Montserrat", sans-serif;
  color: black;

  a {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
    margin:0;
    padding: 0;
    color: black;
    text-decoration: none;
    word-wrap: break-word; /*переносить на інший рядок як текст задовгий для контейнера*/
    overflow-wrap: break-word; /* забезпечує сумісність з більш старими браузерами якшо функція вище не спрацювала :)*/
  }

  h4 {
    margin-top: 0.5vw;
    font-weight: 700;
    font-size: 1.5vw;
    text-transform: uppercase;
  }

  p {
    margin-top: 1.7vw;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.3vw;
  }
}
.info-rest a:hover{
  text-decoration: underline;
  color: $green-main;
}
.rest-description {
  margin-top: 8vw;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5vw;
  line-height: 3vw;
  text-align: justify;
  color: black;
  //в локаціях є цей задній фон
  //background-color: hsla(0, 0%, 100%, .9);
  //border-radius: 2vw;
  //padding: 1vw;
}

.rest-contact {
  display: flex;
  margin: 3% 0;
  color: black;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rest-contact a {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5vw;
  color: black;
  text-decoration: none;
  overflow-wrap: break-word;
}

.connect-1 {
  font-size: 1.8vw;
  margin-bottom: 1.5vw;
  text-transform: uppercase;
  font-family: "Dela Gothic One", sans-serif;
}

.link {
  max-width: 50vw; /* Встановлюємо максимальну ширину для контейнера */
  text-align: right;
  /* Забезпечуємо, щоб елементи, що містяться, вирівнювались праворуч */
}

.link span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; /* Ширина повинна бути 100%, щоб текст не виходив за межі контейнера */
}

.link a {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%; /* Встановлюємо ширину для посилання */
}

#map {
  margin: 4vw 0;
  height: 30vw;
}

.my-row{
  margin-top: 1.5vw;
  display: flex;
  flex-direction: row;
  gap: .9vw;
  flex-wrap: wrap;

  button{
    text-align: center;
    background-color: #b4c6ac;
    border-radius: 1.5vw;
    border: none;
    padding: .4vw;
    font-family: Montserrat Alternates,sans-serif;
  }

  button:hover {
    text-decoration: underline;
  }
}

@media (min-width: 992px) {
  .photo-rest .like-icon {
    display: none;
  }
}

@media (min-width: 0px) and (max-width: 991px) {
  .photo-rest img {
    margin-top:-2vh;
    height: 70vw;
    border-radius:0 0 11vw 11vw;
  }

  .name-rest {
    margin-top: 3vw;
    padding-top:0;

    h1 {
      font-size: 4.5vw;
    }

    h5 {
      font-size: 3vw;
    }
  }

  .photo-rest {
    position: relative;
    padding: 0;

    .like-icon {
      justify-self: end;
      transform: translate(-7vw, 63vw)
    }

    .like-icon svg {
      width: 9vw;
      height: 9vw;;
    }
  }

  .like-section {
    display: none;
  }

  .find-more {
    margin: 1vw;

    .repeating-text {
      margin-bottom: 6vw;
    }
  }

  .rect,
  .rect-full {
    align-content: center;
    padding: 4vw 0.5vw;
  }
  .icons {
    width: 6.5vw;
  }
  .info-rest {
    h4 {
      font-size: 3.1vw;
    }

    p,a{
      font-size: 2.7vw;
    }
  }
  .info-rest a{
    text-decoration: underline;
    color: $green-main;
  }
  .rest-description {
    margin-top: 6vw;
    font-size: 3vw;
    letter-spacing: 0.1em;
    line-height: 5.5vw;
  }
  .rest-contact .connect-1 {
    font-size: 3.5vw;
    margin-bottom: 1vw;
  }
  .rest-contact a {
    font-size: 3.3vw;
  }
  .link {
    max-width: 70vw;
    text-align: left !important;
  }
  .rest-contact {
    gap: 6vw;
  }
  .bottom-line {
    background-position: bottom 33vw center;
  }
  .scroller {
    margin-top: 1vw;
  }
  .scroller img {
    height: 50vw;
    width: 42vw;
    border-radius: 5vw;
  }
  .arrow-button {
    display: none;
  }
  .top-line, .line-photo{
    background-image: none;
  }
  .like-block p{
    display: none;
  }
}